body {
  background-color:lightgrey;
}

.brand {
  background-color:lightblue;
  padding-left:10px;
  padding-right:10px;
}

.maindisplay {
  background-color:lightgrey;
  margin:0;
  height:100%;
  padding-left:5%;
  padding-right:5%;
  padding-top:5%;
  padding-bottom:5%;
}

.navcont {
  margin:0;
}

.box img {
  padding:10px;
  margin-right:20px;
  max-width:300px;
  float:left;
}

.box {
  background-color:whitesmoke;
  padding:20px;
  margin:20px;
}

.secondinner {
  padding:20px;
}

.secondinner img{
  padding:20px;
}

.plots {
  padding-top:25px;
  padding-bottom:25px;
}

.plots img {
  display:block;
  margin:auto;

}

.plots h4 {
  text-align:center;
}

.plotbox {
  background-color:whitesmoke;
  padding:20px;
  margin:20px;
}

.plotbox img {
  max-width:400px;
}

.plotcell {
  padding:10px;
}
